<div class="col-sm-6">
  <h1>Users</h1>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Role</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.created_at %></td>
        <td>
          <% if user.has_role? :admin %>
          <span class="label label-primary">Admin</span>
          <% end %>
          <% if user.has_role? :user %>
          <span class="label label-info">User</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to "New user", new_user_path, class: "btn btn-primary" %>
</div>