<div class="pure-g">
    <div id="mail-list" class="pure-u-1-3" style="">
      <p>Thirds</p></div>
    <div class="pure-u-2-3"><p>Thirds</p></div>
</div>
<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>
