<div class="col-sm-5">
  <h1>Categories</h1>
  <table class="table table-striped">
    <tr>
      <th>#</td>
      <th>Name</td>
      <th>Created at</td>
    </tr>
    <% @categories.each do |cat| %>
      <tr>
        <td><%= cat.id %></td>
        <td><%= cat.name %></td>
        <td><%= cat.created_at %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to "New category", new_category_path, class: "btn btn-primary" %>
</div>