
  <%= form_for @category, html: {class: "form-group", style: "padding: 20px;"} do |f| %>
    <fieldset>
      <legend><h1>New Category</h1></legend>
      <div class="col-sm-5">
        <%= f.text_field :name,class: "form-control", placeholder: "Name"%>
      <br>
      <%= f.submit "Create", class: "btn btn-primary" %>
      </div>

    </fieldset>
  <% end %>

