<div class="pure-g">
    <div id="mail-list" class="pure-u-1-3">
      <ul>
          <% @cases.each do |case| %>
            <li id="mail-item">
              <h5 class="email-name">Tilo Mitra</h5>
              <h4 class="email-subject"><%= case.id %></h4>
              <p class="email-desc">
                <%= case.id %>
              </p>
            </li>
          <% end %>

      </ul>
    </div>
    <div class="pure-u"><h4> Select email </h4></div>
</div>