<div class="panel panel-info" style="width:80%;">
  <div class="panel-heading">
    <div class="pull-right">
    <button class="btn btn-sm btn-default">Reply</button>
    <button class="btn btn-sm btn-default">Forward</button>
    <button class="btn btn-sm btn-default">Move to</button>
    </div>
    <h2>
        <%=@email.subject.capitalize %>
    </h2>
    <h3 class="panel-title">
        From <a>Tilo Mitra</a> at <span><%= @email.created_at %></span>
    </h3>
  </div>
  <div class="panel-body">
    <%= @email.body %>
  </div>
</div>







