        <div class="pure-g">
            <div class="email-content">
                <div class="email-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="email-content-title"><%=@email.subject.capitalize %></h1>
                        <p class="email-content-subtitle">
                            From <a>Tilo Mitra</a> at <span><%= @email.created_at %></span>
                        </p>
                    </div>
                    <div class="email-content-controls pure-u-1-2">
                        <button class="secondary-button pure-button">Reply</button>
                        <button class="secondary-button pure-button">Forward</button>
                        <button class="secondary-button pure-button">Move to</button>
                    </div>
                </div>

                <div class="email-content-body pure-g" >
                    <div class="pure-u">
                        <p>
                            <%= @email.body %>
                        </p>
                    </div>
                </div>
            </div>
        </div>