<div class="pure-g">
    <div id="mail-list" class="pure-u-1-3">
      <ul>
          <% @emails.each do |email| %>
            <li id="mail-item">
              <h5 class="email-name">Tilo Mitra</h5>
              <h4 class="email-subject"><%= email.subject %>
              <button class="button-success pure-button" style="float:right;"><%= link_to "show", category_email_path(@category,email) %></button>
              </h4>
              <p class="email-desc">
                <%= email.body[0..40]+ "..." %>
              </p>
            </li>
          <% end %>

      </ul>
    </div>
    <div class="pure-u"><p><%= render 'email'%></p></div>
</div>